name: Main

on:
  workflow_call:
    inputs:
      js-packages:
        description: JS packages to check and test as a JSON-encoded array of strings, e.g. `["package", "package2"]`.
        required: false
        type: string
      sbpf-program-packages:
        description: SBPF programs to build and test as a JSON-encoded array of strings, e.g. `["package", "package2"]`.
        required: false
        type: string
      rust-packages:
        description: Rust programs to build and test as a JSON-encoded array of strings, e.g. `["package", "package2"]`.
        required: false
        type: string
      wasm-packages:
        description: Rust packages to build with a wasm target, e.g. `["package", "package2"]`.
        required: false
        type: string
      wasm-toolchain:
        description: The Rust toolchain for wasm builds, e.g. "nightly-2025-02-16"
        required: false
        type: string
        default: 'default'
      idl-packages:
        description: Packages to generate IDLS from, e.g. `["package", "package2"]`
        required: false
        type: string
      bench-packages:
        description: Rust packages to bench, e.g. `["package", "package2"]`
        required: false
        type: string
      regression-packages:
        description: Rust packages to run mollusk regression, e.g. `["package", "package2"]`
        required: false
        type: string
      clippy-toolchain:
        description: Install toolchain for clippy, as specified in cargo invocations, e.g. `"nightly-2025-02-16"`.
        required: false
        type: string
      rustfmt-toolchain:
        description: Install toolchain for rustfmt, as specified in cargo invocations, e.g. `"nightly-2025-02-16"`.
        required: false
        type: string
      solana-cli-version:
        description: Install Solana specified as a major-minor-patch version, e.g. `"2.3.4"`.
        required: false
        type: string

jobs:
  format_and_lint_js:
    name: Format & Lint JS
    runs-on: ubuntu-latest
    if: ${{ inputs.js-packages }}
    strategy:
      matrix:
        package: ${{ fromJson(inputs.js-packages) }}
      fail-fast: false
    steps:
      - name: Git Checkout
        uses: actions/checkout@v4

      - name: Setup Environment
        uses: solana-program/actions/setup-ubuntu@main
        with:
          pnpm: true

      - name: Format
        run: make format-check-js-${{ matrix.package }}

      - name: Lint
        run: make lint-js-${{ matrix.package }}

  audit:
    name: Audit
    runs-on: ubuntu-latest
    steps:
      - name: Git Checkout
        uses: actions/checkout@v4

      - name: Setup Environment
        uses: solana-program/actions/setup-ubuntu@main
        with:
          default-toolchain: true
          cargo-cache-key: cargo-audit

      - name: Install cargo-audit
        uses: taiki-e/install-action@v2
        with:
          tool: cargo-audit

      - name: Run cargo-audit
        run: make audit

  spellcheck:
    name: Spellcheck
    runs-on: ubuntu-latest
    steps:
      - name: Git Checkout
        uses: actions/checkout@v4

      - name: Setup Environment
        uses: solana-program/actions/setup-ubuntu@main
        with:
          default-toolchain: true
          cli: true # needed for llvm-config
          cargo-cache-key: cargo-spellcheck

      - name: Install cargo-spellcheck
        uses: taiki-e/install-action@v2
        with:
          tool: cargo-spellcheck

      - name: Run cargo-spellcheck
        run: make spellcheck

  format_and_lint_rust:
    name: Format & Lint Rust
    runs-on: ubuntu-latest
    if: ${{ inputs.rust-packages }}
    strategy:
      matrix:
        package: ${{ fromJson(inputs.rust-packages) }}
      fail-fast: false
    steps:
      - name: Git Checkout
        uses: actions/checkout@v4

      - name: Setup Environment
        uses: solana-program/actions/setup-ubuntu@main
        with:
          clippy-toolchain: ${{ inputs.clippy-toolchain }}
          rustfmt-toolchain: ${{ inputs.rustfmt-toolchain }}
          cli: true
          cargo-cache-key: cargo-lint-${{ matrix.package }}

      - name: Install cargo-hack
        uses: taiki-e/install-action@v2
        with:
          tool: cargo-hack

      - name: Format
        run: make format-check-${{ matrix.package }}

      - name: Clippy
        run: make clippy-${{ matrix.package }}

      - name: Lint / Docs
        run: make build-doc-${{ matrix.package }}

      - name: Check powerset
        run: make powerset-${{ matrix.package }}

  wasm:
    name: Build WASM
    runs-on: ubuntu-latest
    if: ${{ inputs.wasm-packages }}
    strategy:
      matrix:
        package: ${{ fromJson(inputs.wasm-packages) }}
      fail-fast: false
    steps:
      - name: Git Checkout
        uses: actions/checkout@v4

      - name: Setup Environment
        uses: solana-program/actions/setup-ubuntu@main
        with:
          default-toolchain: ${{ inputs.wasm-toolchain == 'default' }}
          nightly-toolchain: ${{ inputs.wasm-toolchain != 'default' && inputs.wasm-toolchain }}
          cargo-cache-key: cargo-wasm-${{ matrix.package }}

      - name: Install wasm target
        shell: bash
        run: |
          if [[ "${{ inputs.wasm-toolchain }}" == "default" ]]; then
            rustup target add wasm32-unknown-unknown
          else
            rustup target add wasm32-unknown-unknown --toolchain "${{ inputs.wasm-toolchain }}"
          fi

      - name: Build with wasm target
        run: make build-wasm-${{ matrix.package }}

  # The test jobs rely on this being successful, so we have to do the "if" check
  # at every step if `sbpf-program-packages` isn't specified.
  build_sbpf:
    name: Build Programs
    runs-on: ubuntu-latest
    steps:
      - name: Git Checkout
        if: ${{ inputs.sbpf-program-packages }}
        uses: actions/checkout@v4

      - name: Setup Environment
        if: ${{ inputs.sbpf-program-packages }}
        uses: solana-program/actions/setup-ubuntu@main
        with:
          default-toolchain: true
          cargo-cache-key: cargo-build-sbf
          solana: ${{ inputs.solana-cli-version }}

      - name: Build
        if: ${{ inputs.sbpf-program-packages }}
        shell: bash
        run: |
          for program in $(echo ${{ inputs.sbpf-program-packages }} | tr -d "'[],")
          do
            make build-sbf-${program}
          done

      - name: Save Program Builds For Client Jobs
        if: ${{ inputs.sbpf-program-packages }}
        uses: actions/cache/save@v4
        with:
          path: ./target/deploy/*.so
          key: ${{ runner.os }}-program-builds-${{ github.sha }}

  test_rust:
    name: Test Rust
    runs-on: ubuntu-latest
    if: ${{ inputs.rust-packages }}
    needs: build_sbpf
    strategy:
      matrix:
        package: ${{ fromJson(inputs.rust-packages) }}
      fail-fast: false
    steps:
      - name: Git Checkout
        uses: actions/checkout@v4

      - name: Setup Environment
        uses: solana-program/actions/setup-ubuntu@main
        with:
          default-toolchain: true
          cli: true
          cargo-cache-key: cargo-test-${{ matrix.package }}

      - name: Restore Program Builds
        uses: actions/cache/restore@v4
        with:
          path: ./target/deploy/*.so
          key: ${{ runner.os }}-program-builds-${{ github.sha }}

      - name: Test
        run: make test-${{ matrix.package }}

  bench_rust:
    name: Bench Rust
    runs-on: ubuntu-latest
    if: ${{ inputs.bench-packages }}
    needs: build_sbpf
    strategy:
      matrix:
        package: ${{ fromJson(inputs.bench-packages) }}
      fail-fast: false
    steps:
      - name: Git Checkout
        uses: actions/checkout@v4

      - name: Setup Environment
        uses: solana-program/actions/setup-ubuntu@main
        with:
          default-toolchain: true
          cli: true
          cargo-cache-key: cargo-bench-${{ matrix.package }}

      - name: Restore Program Builds
        uses: actions/cache/restore@v4
        with:
          path: ./target/deploy/*.so
          key: ${{ runner.os }}-program-builds-${{ github.sha }}

      - name: Bench
        run: make bench-${{ matrix.package }}

      - name: Check Working Directory
        run: |
          if [ -n "$(git status --porcelain)" ]; then
            test -z "$(git status --porcelain)"
            echo "CU usage has changed. Please run `cargo bench` and commit the new results.";
            exit 1;
          fi

  regression:
    name: Regression Programs
    runs-on: ubuntu-latest
    if: ${{ inputs.regression-packages }}
    needs: build_sbpf
    strategy:
      matrix:
        package: ${{ fromJson(inputs.regression-packages) }}
      fail-fast: false
    steps:
      - name: Git Checkout
        uses: actions/checkout@v4

      - name: Setup Environment
        uses: solana-program/actions/setup-ubuntu@main
        with:
          default-toolchain: true
          cli: true
          cargo-cache-key: cargo-regression-${{ matrix.package }}

      - name: Install mollusk and toml
        uses: taiki-e/install-action@v2
        with:
          tool: mollusk-svm-cli,toml-cli

      - name: Restore Program Builds
        uses: actions/cache/restore@v4
        with:
          path: ./target/deploy/*.so
          key: ${{ runner.os }}-program-builds-${{ github.sha }}

      - name: Regression
        run: make regression-${{ matrix.package }}

  generate_idl:
    name: Generate IDL
    runs-on: ubuntu-latest
    if: ${{ inputs.idl-packages }}
    strategy:
      matrix:
        package: ${{ fromJson(inputs.idl-packages) }}
      fail-fast: false
    steps:
      - name: Git Checkout
        uses: actions/checkout@v4

      - name: Setup Environment
        uses: solana-program/actions/setup-ubuntu@main
        with:
          pnpm: true

      - name: Generate IDL
        run: make generate-idl-${{ matrix.package }}

      - name: Check Working Directory
        run: |
          git status --porcelain
          test -z "$(git status --porcelain)"

  generate_clients:
    name: Check Client Generation
    runs-on: ubuntu-latest
    steps:
      - name: Git Checkout
        uses: actions/checkout@v4

      - name: Setup Environment
        uses: solana-program/actions/setup-ubuntu@main
        with:
          pnpm: true
          rustfmt-toolchain: ${{ inputs.rustfmt-toolchain }}

      - name: Generate Clients
        run: make generate-clients

      - name: Check Working Directory
        run: |
          git status --porcelain
          test -z "$(git status --porcelain)"

  test_js:
    name: Test JS
    runs-on: ubuntu-latest
    needs: build_sbpf
    if: ${{ inputs.js-packages }}
    strategy:
      matrix:
        package: ${{ fromJson(inputs.js-packages) }}
      fail-fast: false
    steps:
      - name: Git Checkout
        uses: actions/checkout@v4

      - name: Setup Environment
        uses: solana-program/actions/setup-ubuntu@main
        with:
          solana: ${{ inputs.solana-cli-version }}
          pnpm: true

      - name: Restore Program Builds
        uses: actions/cache/restore@v4
        with:
          path: ./target/deploy/*.so
          key: ${{ runner.os }}-program-builds-${{ github.sha }}

      - name: Test
        run: make test-js-${{ matrix.package }}
